[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sqlparseR"]
	path = sqlparseR
	url = https://github.com/cran/sqlparseR
[submodule "triact"]
	path = triact
	url = https://github.com/cran/triact
